.tabs {
  margin: 1rem auto 1.5rem;
  padding: 2rem 1rem;
}
.tabs .dashboard_header {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 0.5rem;
}
ul.nav {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  gap: 10px;
  margin: 1rem 0;
  max-width: 500px;
}

ul.nav li {
  background-color: #f5f5f6;
  color: #707071;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px;
}

ul.nav li:nth-child(2) {
  border-radius: 0;
}

ul.nav li:hover {
  color: #333;
}

ul.nav li span {
  padding: 0.5rem;
}
ul.nav li.active {
  font-weight: 700;
  color: #000;
}
ul.nav li.active span {
  border-bottom: 1px solid #707071;
}

.selected {
  background: #f5f5f6;
}
