.card {
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  align-items: center;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 0px;
}

.easy_container {
  background-color: #a8bd3a;
}

.hard_container {
  background-color: #b21f2b;
  color: white;
}

.card_title {
  font-size: 12px;
  font-weight: 600;
}

.correct_count {
  font-size: 12px;
  font-weight: 400;
}

.question_text {
  font-size: 16px;
  font-weight: 700;
}

.answer_label,
.answer_text {
  font-size: 10px;
  font-weight: 400;
  line-height: 25px;
}
