.accordion {
  float: left;
  margin-top: 300px;
  margin-left: 10px;
  width: 390px;
  height: auto;
  left: 19px;
  top: 182px;
  background: #f5f5f6;
  font-family: "Open Sans";
}

.accordionButton {
  background-color: #f5f5f6;
  color: black;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  max-height: 100;
}

.content {
  background-color: #f5f5f6;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
  max-height: 1000;
  z-index: 10;
}
.progress {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 15px;
  padding-top: 10px;
}

.questionAnswer {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  height: 117px;
  background-color: #a8bd3a;
  padding-left: 15px;
  height: auto;
  padding-right: 15px;
  vertical-align:  top;
  position: relative;
}
.questionAnswer1 {
  height: 117px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  color: white;
  align-items: center;
  background-color: #b21f2b;
  padding-left: 15px;
  padding-right: 15px;
  height: auto;
  border-top: 1px solid rgb(155, 155, 155);
  position: relative;
}

.question {
  width: 190px;
  margin-right: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.answer {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.accordionArrow {
  margin-left: 250px;
}
