.chart_container {
  border: 6px solid #f5f5f6;
  padding: 2rem;
  margin: 1rem 0;
  box-shadow: rgba(0, 0, 0, 0.21) 0px 2px 0px;
}
.chart_header {
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.custom_tooltip_container {
  background: white;
  padding: 4px;
  border-radius: 8px;
}

.tooltip_easy {
  color: #acdf87;
}

.tooltip_medium {
  color: #ffc500;
}

.tooltip_hard {
  color: #e61717;
}
