.main {
  margin-left: 25px;
  margin-right: 25px;
}
.welcomeText {
  font-weight: 800;
  margin-top: 100px;
  margin-bottom: 100px;
}

.email_input {
  background-color: #f5f5f6;
  border: none;
  color: #000;
  font-size: 16px;
  padding: 1.5rem 1rem;
  width: 100%;
  max-width: 500px;
}
.email_input:focus {
  outline: none;
}
.paragraph {
  margin-bottom: 50px;
}
.links {
  font-size: 12px;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quiz {
  background-color: #f5f5f6;
  border: none;
  cursor: pointer;
  padding: 1rem;
}

.email_error {
  color: #ff323c;
  font-size: 12px;
  margin-top: 0.5rem;
}

.email_error span {
  padding: 1rem;
}
