.list {
  width: 250px;
  margin: auto;
  background: #f5f5f6;
}

.list:nth-child(2n) {
  background: white;
}

.name {
  width: 150px;
  float: left;
  margin-left: 40px;
}

.score {
  width: 20px;
  float: left;
  margin-left: 30px;
}
